ingest.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "6b5fa5b1-3f13-4e10-be29-885a054b3b5e",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -704,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fileSelector": "documents/*.pdf"
      },
      "id": "e644cb94-c90b-4296-aa0f-b82746dd4778",
      "name": "Read PDF Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "position": [
        -496,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Text splitter: splits text into chunks of ~1000 chars with 200 overlap\nconst items = $input.all();\nconst chunks = [];\nconst chunkSize = 5000;\nconst chunkOverlap = 200;\n\nfor (const item of items) {\n  let text = item.json.text || item.json.data || item.json.content || JSON.stringify(item.json);\n  if (typeof text !== 'string') text = String(text);\n  if (!text) continue;\n  const source = item.json.fileName || item.json.source || 'unknown';\n  let start = 0;\n  let idx = 0;\n  while (start < text.length) {\n    const end = Math.min(start + chunkSize, text.length);\n    const chunk = text.substring(start, end);\n    if (chunk.trim()) {\n      chunks.push({ json: { text: chunk, chunkIndex: idx, source: source } });\n      idx++;\n    }\n    start += chunkSize - chunkOverlap;\n    if (start >= text.length) break;\n  }\n}\nreturn chunks.length ? chunks : items;"
      },
      "id": "28eb9a39-bdeb-4ec3-828e-32ff9191a7f0",
      "name": "Split Text",
      "type": "n8n-nodes-base.code",
      "position": [
        -64,
        -32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst stmts = [];\nfor (const item of items) {\n  let out = item.json.output || item.json.response || item.json.text || item.json;\n  if (typeof out === \"string\") {\n    try { out = JSON.parse(out.replace(/```[\\\\s\\\\S]*?```/g, \"\").trim() || \"{}\"); }\n    catch(e) { stmts.push(\"// Parse error: \" + out.substring(0,80)); continue; }\n  }\n  const ents = out.entities || [];\n  const rels = out.relationships || [];\n  ents.forEach(e => {\n    const p = JSON.stringify(e.properties || {});\n    stmts.push(`MERGE (e:${e.type || \"Entity\"} {name: ${JSON.stringify(e.name)}}) SET e += ${p}`);\n  });\n  rels.forEach(r => {\n    stmts.push(`MATCH (a {name: ${JSON.stringify(r.source)}}), (b {name: ${JSON.stringify(r.target)}}) MERGE (a)-[:${r.type || \"RELATED_TO\"}]->(b)`);\n  });\n}\nif (stmts.length === 0) {\n  return [{ json: { cypher: \"RETURN 1\", index: 0, note: \"no entities found\" } }];\n}\nreturn stmts.map((s,i) => ({ json: { cypher: s, index: i } }));"
      },
      "id": "f4450a5a-ffb6-49e5-9019-7c4a0a1649f0",
      "name": "Build Cypher",
      "type": "n8n-nodes-base.code",
      "position": [
        704,
        -336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "graphDb",
        "cypherQuery": "={{ $json.cypher }}"
      },
      "id": "a02c79a9-ffd7-4ad8-a2a4-2ac71fd1feda",
      "name": "Neo4j",
      "type": "n8n-nodes-neo4j.neo4j",
      "position": [
        912,
        -336
      ],
      "typeVersion": 1,
      "credentials": {
        "neo4jApi": {
          "id": "dtLuPEEhEtI1lxFs",
          "name": "Local Neo4j"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n{\n  \"content\": $json.text || $json,\n  \"metadata\": {\n    \"source\": $json.fileName || \"pdf\"\n  }\n}\n}}",
        "options": {}
      },
      "id": "0b34eb7b-e8ad-4e00-acc2-7243e479372e",
      "name": "Set for Qdrant",
      "type": "n8n-nodes-base.set",
      "position": [
        272,
        112
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "da8e1a07-6061-4457-9eb5-1c120112710b",
      "name": "Embeddings Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        416,
        336
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "txYqlyWDxVRj6TEU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "store"
        },
        "options": {
          "contentPayloadKey": "content",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "ca879cf0-9d78-476e-b51b-7108108365c3",
      "name": "Qdrant Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        560,
        112
      ],
      "typeVersion": 1.3,
      "credentials": {
        "qdrantApi": {
          "id": "4694b00a-1b4d-4447-8a32-7ebb8dabb418",
          "name": "Local Qdrant"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "id": "d3f4a5b6-c7d8-4e90-a1b2-c3d4e5f6a7b8",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "position": [
        160,
        -144
      ],
      "typeVersion": 1,
      "credentials": {
        "groqApi": {
          "id": "YH1H1zKnLkQVMpQU",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an entity and relationship extraction system. Extract all named entities (people, organizations, concepts, technologies, locations) and the relationships between them from the text below.\n\nRespond with ONLY valid JSON in this exact format, no other text:\n{\"entities\": [{\"name\": \"...\", \"type\": \"Person|Organization|Concept|Technology|Location\", \"properties\": {}}], \"relationships\": [{\"source\": \"...\", \"target\": \"...\", \"type\": \"RELATED_TO\"}]}"
            }
          ]
        },
        "batching": {}
      },
      "id": "e4f5a6b7-c8d9-4f01-a2b3-c4d5e6f7a8b9",
      "name": "Entity Extraction LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        160,
        -336
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  let raw = item.json.output || item.json.response || item.json.text || \"\";\n  if (typeof raw === \"object\" && raw !== null) {\n    return { json: raw };\n  }\n  raw = String(raw).replace(/```[\\s\\S]*?```/g, \"\").trim();\n  try {\n    const parsed = JSON.parse(raw);\n    if (parsed.entities || parsed.relationships) {\n      return { json: { entities: parsed.entities || [], relationships: parsed.relationships || [] } };\n    }\n  } catch(e) {\n    return { json: { error: \"Parse failed: \" + raw.substring(0, 100), entities: [], relationships: [] } };\n  }\n  return { json: { entities: [], relationships: [] } };\n});"
      },
      "id": "f5a6b7c8-d9e0-4f12-a3b4-c5d6e7f8a9b0",
      "name": "Parse Entity JSON",
      "type": "n8n-nodes-base.code",
      "position": [
        496,
        -336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Extract Text",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -272,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "doc-loader-1",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        688,
        352
      ],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read PDF Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF Files": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Text": {
      "main": [
        [
          {
            "node": "Entity Extraction LLM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set for Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cypher": {
      "main": [
        [
          {
            "node": "Neo4j",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set for Qdrant": {
      "main": [
        [
          {
            "node": "Qdrant Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Entity Extraction LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Entity Extraction LLM": {
      "main": [
        [
          {
            "node": "Parse Entity JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Entity JSON": {
      "main": [
        [
          {
            "node": "Build Cypher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Split Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "8f42723d854102a22f8b6314b06bbb38f4b6e259798e3ba1bfd90033d4266ea4"
  }
}